<!doctype html>
<h1>User info</h1>
<p>&nbsp;</p>
<table style="height: 12px;" border="1">
<tbody>
<tr>
<td>login_name</td>
<td>{{login_name}}</td>
</tr>
<tr>
<td>name</td>
<td>{{name}}</td>
</tr>
<tr>
<td>email</td>
<td>{{email}}</td>
</tr>
<tr>
<td>company</td>
<td>{{company}}</td>
</tr>
<tr>
<td>created_at</td>
<td>{{created_at}}</td>
</tr>
<tr>
<td>public_repos</td>
<td>{{public_repos}}</td>
</tr>
<tr>
<td>followers</td>
<td>{{followers}}</td>
</tr>
<tr>
<td>following</td>
<td>{{following}}</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="/">Back to Home</a></p>
